.card{
  margin-bottom: 30px;
}
.data{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  max-width: 250px;
}
p{
  margin: 0;
}
li{
  font-weight: bold;
}
img{
  width: 200px;
  border-radius: 10px;
}