.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  list-style: none;
  padding: 0;
  gap: 20px;
}
li {
  padding: 20px;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  width: calc(100% - 40px);
}
img{
  width: 100%;
}
button {
  color: black;
  background-color: rgb(255, 204, 0);
}